.modal.hide.fade#serviceModal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3= "New Service For: #{place.name}"
  .modal-body#modal-form
    = form_for(service, html: { class: 'form-horizontal' ,id: 'service-form', multipart: true }, remote: true ) do |f|
      %fieldset
        %legend Service details
        .control-group
          = f.label :name, "Name",class: 'control-label'
          .controls
            = f.text_field :name
        .control-group
          = f.label :description, "Description", class: 'control-label'
          .controls
            = f.text_area :description, rows: 4 
        .control-group
          = f.label :price,"Price", class: 'control-label'
          .controls
            = f.text_field :price
        .control-group
          = label_tag :image, "Image", class: 'control-label'
          .controls
            = f.file_field :image
        .control-group
          = f.label :status, "Status", class: 'control-label'
          .controls
            = f.select :status, options_for_select([["Published",1], ["Draft", 0], ["Unavailable", 2]])
          = f.hidden_field :place_id, value: place.id
        .controls
          = f.submit 'Submit', class: 'btn'
  .modal-footer
    %a.btn{:href => "#"} Close
    %a.btn.btn-primary{:href => "#"} Save changes
