%h3 Service list
- if services.empty?
  %span#no-services-notice
    You dont have any services! Your can add them 
    = link_to 'here', '#serviceModal', role: 'button', :"data-toggle" => "modal"
- else
  = link_to 'Add New', '#serviceModal', role: 'button', :"data-toggle" => "modal", class: 'btn'
  %table.table
    %thead
      %tr
        %th Image
        %th Name
        %th Price
        %th Status
        %th Created at
        %th Actions
    - services.each do |service|
      %tr
        %td= image_tag(service.image.mini_thumb.url)
        %td= service.name
        %td= service.price
        %td= service.status_name
        %td= service.created_at.to_date
        %td
          = link_to 'delete', service_path(service), method: :delete, confirm: 'Are you sure?', remote: true, class: 'delete-item'
          = link_to 'edit', edit_service_path(service), remote: true
