.span2
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Sidebar
      %li= link_to "My Places", places_path
      %li= link_to "Add new place", new_place_path
      %li= link_to "Link 3", "/path3"