.hero-unit
  %h1 Welcome to Camper!
  %p This app connects people who want to find great places for leisure with those who offer such services. 
  = link_to 'Sign Up Here', new_user_registration_path, class: 'btn'