.span2
  %h2.form-signin-heading Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'form-signin') do |f|
    = f.email_field :email, :autofocus => true, :placeholder => 'Email address', class: 'input-block-level'
    = f.password_field :password, :placeholder => 'Password', class: 'input-block-level'
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me, class: 'left'
    = f.submit "Sign in", :class => 'btn'
  = render "devise/shared/links"
