// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place{
  float: left;
  .tab-content{

  }
}

#place-information{
  .container{
    
    .header{
      float: left;
      width: 100%;
      .edit-link{
        float: right;
        a{
          color: #58ACFA;
        }
        a:hover{
          background-color: white;
          text-decoration: none;
        }
      }
    }
    .attr-section{
      float: left;
      clear: both;
      margin-left: 40px;
      margin-top: 10px;
      .title{
        font-size: 18px;
        width: 100%;
        display: block;
        font-weight: bold;
      }
      a{
        color: green;
      }
      a:hover{
        text-decoration: none;
        background-color: white;
      }
    }
  }
  #gallery{
    #gallery-thumbnails{
      li{
        text-align: center;
      }
    }
  }
}
