= form_for(place, html: { class: 'form-horizontal' }) do |f|
  %fieldset
    %legend
      = "#{controller.action_name.capitalize} Place" 
    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name
    .control-group
      = f.label :description, class: 'control-label'
      .controls
        = f.text_area :description, rows: 4
    .control-group
      = f.label :status, class: 'control-label'
      .controls
        = f.select :status, options_for_select([['Published', 1], ['Draft', 0]])
    .control-group
    - unless @place.new_record?
      .control-group
        .controls
          = f.file_field :image
      .control-group
        = f.label :location, class: 'control-label'
        .controls
          = f.select :location_id, options_from_collection_for_select(Location.avaliable_locations_for_select, "id", "name")
    .controls
      = f.submit 'Submit', class: 'btn'