%li
  = link_to(image_tag(image.image.thumb.url), image.image.main.url, class: 'thumbnail gallery', rel: 'group1')
  %span.actions
    = link_to 'edit', '#'
    = link_to 'delete', gallery_image_path(image), method: :delete, confirm: 'Are you sure?', class: 'delete-image', remote: true
