%tr
  %td= link_to place.name, place_path(place)
  %td= place.status
  %td= place.created_at.to_date
  %td
    = link_to 'Edit', edit_place_path(place)
    = link_to 'Delete', place_path(place), method: :delete, confirm: 'Are you sure?'
