- content_for(:sidebar) do 
  = render 'shared/sidebar'
.span10
  %h1 Your Places!
  - if current_user.places.any?
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Status
          %th Created At
          %th Actions
      = render @places
  - else
    %p Looks like you dont have any places added yet!
    = link_to 'Add new place...', new_place_path, class: 'btn'