- content_for(:sidebar) do
  = render 'shared/sidebar'
.container.place
  %h1= @place.name
  %ul.nav.nav-tabs
    %li.active= link_to 'Place Information', "#place-information", :"data-toggle" => 'tab'
    %li= link_to 'Services', "#service-list", :"data-toggle" => 'tab'
    %li= link_to 'Gallery', "#gallery", :"data-toggle" => 'tab'
  .tab-content
    .tab-pane.active#place-information
      .container
        .header
          %ul.thumbnails
            %li= link_to(image_tag(@place.image.thumb.url), @place.image.main.url, class: 'thumbnail', id: 'title-image')
          .edit-link
            = link_to 'edit place', edit_place_path(@place)
        .attr-section
          %span.title Description
          %span.content= @place.description
        .attr-section
          %span.title Location
          %span.content= @place.location_name
        .attr-section
          %span.title Services
          %span.content
            Currently offering 
            = link_to "#{@place.services.count} services!", '#'
    .tab-pane#service-list
      = render 'services/service_list', services: @place.services
    .tab-pane#gallery
      .container
        #gallery-upload
          = form_for(GalleryImage.new, html: { class: 'form-horizontal' ,id: 'gallery-image-form', multipart: true }, remote: true ) do |f|
            %fieldset
              %legend Upload image to your gallery
              .control-group
                = label_tag :image, "Image", class: 'control-label'
                .controls
                  = f.file_field :image
                = f.hidden_field :place_id, value: @place.id
              .controls
                = f.submit 'Upload', class: 'btn'
        %ul.thumbnails#gallery-thumbnails
          = render 'gallery_image_list', place: @place

.modal.hide.fade#serviceModal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3= "New Service For: #{@place.name}"
  .modal-body#modal-form
    = form_for(@service, html: { class: 'form-horizontal' ,id: 'service-form', multipart: true }, remote: true ) do |f|
      %fieldset
        %legend Service details
        .control-group
          = f.label :name, "Name",class: 'control-label'
          .controls
            = f.text_field :name
        .control-group
          = f.label :description, "Description", class: 'control-label'
          .controls
            = f.text_area :description, rows: 4 
        .control-group
          = f.label :price,"Price", class: 'control-label'
          .controls
            = f.text_field :price
        .control-group
          = label_tag :image, "Image", class: 'control-label'
          .controls
            = f.file_field :image
        .control-group
          = f.label :status, "Status", class: 'control-label'
          .controls
            = f.select :status, options_for_select([["Published",1], ["Draft", 0], ["Unavaliable", 2]])
          = f.hidden_field :place_id, value: @place.id
        .controls
          = f.submit 'Submit', class: 'btn'
  .modal-footer
    %a.btn{:href => "#"} Close
    %a.btn.btn-primary{:href => "#"} Save changes

.modal.hide.fade#galleryImageModal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3= "New Service For: #{@place.name}"
  .modal-body#modal-form
    = form_for(@service, html: { class: 'form-horizontal' ,id: 'service-form', multipart: true }, remote: true ) do |f|
      %fieldset
        %legend Service details
        .control-group
          = f.label :name, "Name",class: 'control-label'
          .controls
            = f.text_field :name
        .control-group
          = f.label :description, "Description", class: 'control-label'
          .controls
            = f.text_area :description, rows: 4 
        .control-group
          = f.label :price,"Price", class: 'control-label'
          .controls
            = f.text_field :price
        .control-group
          = label_tag :image, "Image", class: 'control-label'
          .controls
            = f.file_field :image
        .control-group
          = f.label :status, "Status", class: 'control-label'
          .controls
            = f.select :status, options_for_select([["Published",1], ["Draft", 0], ["Unavaliable", 2]])
          = f.hidden_field :place_id, value: @place.id
        .controls
          = f.submit 'Submit', class: 'btn'
  .modal-footer
    %a.btn{:href => "#"} Close
    %a.btn.btn-primary{:href => "#"} Save changes
:javascript
  $(document).ready(function() {
    $("a#title-image").fancybox();
    $('a.gallery').fancybox();
  });